
  .maincontainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(../assets/login.jpg); */
    /* background-color: rgb(241, 238, 238); */
    background-color: rgb(82, 82, 253);
    background-size: cover;
  }
  .loginpage {
    border: 1px solid rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(8, 0, 0, 0.6);
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
  }
  .registerpage {
    /* border: 1px solid rgba(245, 245, 245, 0.404); */
    border: 1px solid white;
    border-radius: 10px;
    height: 560px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(8, 0, 0, 0.6);
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 300;
    color: black;
  }
  .name {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 50px;
    border: 2px solid rgba(253, 251, 251, 0.658);
    /* color: rgb(255, 255, 255); */
    color: black;
    background-color: gainsboro;
  }
  .pass {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 50px;
    border: 2px solid rgba(253, 251, 251, 0.658);
    color: rgb(255, 255, 255);
    background-color: gainsboro;
  }
  /* -ms- */
  ::-ms-input-placeholder {
    color: rgb(165, 240, 240);
  }
  ::placeholder {
    /* color: rgb(163, 223, 220); */
    color: black;
  }
  .text {
    display: flex;
    margin-top: 10px;
  }
  p {
    color: rgb(255, 255, 255);
    margin-right: 20px;
  }
  .a1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }
  .checkbox {
    margin: 3px;
  }
  .hoverbtn {
    margin-top: 20px;
    padding: 4px;
    width: 240px;
    border-radius: 100px;
    font-size: 20px;
    border: none;
    background-color: rgb(116, 214, 247);
  }
  .hoverbtn:hover {
    background-color: rgb(216, 255, 255);
  }
  .register {
    margin-top: 10px;
    color: black;
  }
  .a2 {
    color: aliceblue;
    text-decoration: none;
  }
  .otp-box{
    display: flex;
    align-items: center;
  }
  .otp{
    padding: 10px;
    margin: 10px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid rgba(253, 251, 251, 0.658);
    color: rgb(255, 255, 255);
    background: none;
  }
.verify-btn{
    margin: 0;
    padding: 4px 0px;
    width: 100px;
    border-radius: 7px;
    font-size: 20px;
    border: none;
    background-color: gray;
}
.fill-details{
  /* background-color: rgb(50, 247, 172); */
  width: 200px;
  padding: 5px;
  text-align: center;
  color: red;
  font-family:monospace;
  border-radius: 7px;
}
.loading-wait{
  /* background-color: white; */
  color: red;
  width: 200px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}
