.sqltopics-main-container{
    background-color: #F5F5F5;
    height: 530px;
    width: 100%;
    overflow: auto;
    padding: 20px;
}
.sqltopics-container{
    background-color: #F5F5F5;
    height: auto;
    width: 100%;
    margin: 0px auto;
    padding-bottom:20px ;
}
.sqltopics-container h1{
    font-size: 50px;
    text-align: center;
}
.usernameSQL{
    background-color: #201F3D;
    margin-left: 10px;
    padding: 10px;
    float: left;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.usernameSQL1{
    background-color: #201F3D;
    margin-left: 10px;
    padding: 10px;
    float: right;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* margin-top: 5px; */
}
.usernameSQL img{
    height: 30px;
    width: 30px;
    
}
.usernameSQL h3{
    color: white;
    text-align: center;
    margin-left: 10px;
}
.usernameSQL1 h3{
    color: white;
    text-align: center;
    margin-left: 10px;
}
.logout-btn{
    background-color: #201F3D;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    margin: 2px 10px;
}
.sqltopics-box{
    margin-top: 10px;
    /* height: 6500px; */
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}
.sqltopics-left{
    float: left;
    width: 0%; 
    height: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.sqltopics-right{
    float: right;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
.clear-both{
    clear: both;
}
.Hline{
    background-color: #E1E1E1;
    height: auto;
    margin-top: 20px;
    padding-bottom: 300px;
    width: 20px;
    border-radius: 10px 10px 10px 10px;
}
.round{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
.round-1{
    margin-top: 35px;
    border: 5px solid #41516C;
}
.round-2{
    margin-top: 380px;
    border: 5px solid #FBCA3E;
}
.round-3{
    margin-top: 962px;
    border: 5px solid #E24A68;
}
.round-4{
    margin-top: 338px;
    border: 5px solid #1B5F8C;
}
.round-5{
    margin-top: 375px;
    border: 5px solid #030203;
}
.round-6{
    margin-top: 630px;
    border: 5px solid #1CE889;
}
.round-7{
    margin-top: 365px;
    border: 5px solid #660742;
}
.round-8{
    margin-top: 358px;
    border: 5px solid #ACB806;
}
.round-9{
    margin-top: 360px;
    border: 5px solid #86CC04;
}
.round-10{
    margin-top: 520px;
    border: 5px solid #4CADAD;
}
.round-11{
    margin-top: 395px;
    border: 5px solid #04B5CC;
}
.round-12{
    margin-top: 370px;
    border: 5px solid #0E04CC;
}
.round-13{
    margin-top: 435px;
    border: 5px solid #201F3D;
}
.round-14{
    margin-top: 335px;
    border: 5px solid #916527;
}
.round-15{
    margin-top: 855px;
    border: 5px solid #377D24;
}
.sqltopics-right ul{
    width: 70%;
    margin: 0px auto;
    height: auto;
    padding: 20px;
    /* background-color: white; */
}
.sqltopics-right ul li{
    list-style: none;
    margin-top: 50px;
}
.sqltopics-right ul li:first-child{
        list-style: none;
        margin-top: 20px;
}
.heading{
    padding: 10px;
    background-color: #41516C;
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 40px 40px 40px 40px;
}
.heading-2{
    background-color: #FBCA3E;
}
.heading-3{
    background-color: #E24A68;
}
.heading-4{
    background-color: #1B5F8C;
}
.heading-5{
    background-color: #030203;
}
.heading-6{
    background-color: #1CE889;
}
.heading-7{
    background-color: #660742;
}
.heading-8{
    background-color: #ACB806;
}
.heading-9{
    background-color: #86CC04;
}
.heading-10{
    background-color: #4CADAD;
}
.heading-11{
    background-color: #04B5CC;
}
.heading-12{
    background-color: #0E04CC;
}
.heading-13{
    background-color: #201F3D;
}
.heading-14{
    background-color: #916527;
}
.heading-15{
    background-color: #377D24;
}
.sublist{
    background-color: #F5F5F5;
    color: black;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
.link-color{
    color: black;
}
.desc{
    margin-top: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    font-size: 18px;
}

/* Mobile Size CSS */
@media (max-width:480px){
    .sqltopics-main-container{
    background-color: #F5F5F5;
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 20px;
}
    .usernameSQL{
        padding: 6px;
        border-radius: 5px;
    }
    .usernameSQL1{
        padding: 6px;
        border-radius: 5px;
    }
    .usernameSQL img{
        height: 15px;
        width: 15px;
        
    }
    .usernameSQL h3{
        margin-left: 5px;
        font-size: 15px;
    }
    .usernameSQL1 h3{
        margin-left: 5px;
        font-size: 15px;
    }
    .sqltopics-container h1{
        font-size: 35px;
    }
    .sqltopics-container{
        width: 95%;
    }
    .Hline{
        display: none;
    }
    .sqltopics-left{
        width: none;
    }
    .sqltopics-right{
        width: 100%;
    }
    .sqltopics-right ul{
        width: 100%;
    }
    .round-1{
        margin-top: 35px;
        border: 5px solid #41516C;
    }   
    .round-2{
        margin-top: 465px;
        border: 5px solid #FBCA3E;
    }
    .round-3{
        margin-top: 1027px;
        border: 5px solid #E24A68;
    }
    .round-4{
        margin-top: 380px;
        border: 5px solid #1B5F8C;
    }
    .round-5{
        margin-top: 420px;
        border: 5px solid #030203;
    }
    .round-6{
        margin-top: 690px;
        border: 5px solid #1CE889;
    }
    .round-7{
        margin-top: 420px;
        border: 5px solid #660742;
    }
    .round-8{
        margin-top: 415px;
        border: 5px solid #ACB806;
    }
    .round-9{
        margin-top: 400px;
        border: 5px solid #86CC04;
    }
    .round-10{
        margin-top: 565px;
        border: 5px solid #4CADAD;
    }
    .round-11{
        margin-top: 455px;
        border: 5px solid #04B5CC;
    }
    .round-12{
        margin-top: 462px;
        border: 5px solid #0E04CC;
    }
    .round-13{
        margin-top: 495px;
        border: 5px solid #201F3D;
    }
    .round-14{
        margin-top: 378px;
        border: 5px solid #916527;
    }
    .round-15{
        margin-top: 855px;
        border: 5px solid #377D24;
    }
    /* .sqltopics-box{
        height: 7500px;
    } */
    .Hline{
        padding-bottom: 380px;
    }
}
@media (max-width:375px) {
    .round-1{
        margin-top: 35px;
        border: 5px solid #41516C;
    }   
    .round-2{
        margin-top: 570px;
        border: 5px solid #FBCA3E;
    }
    .round-3{
        margin-top: 1155px;
        border: 5px solid #E24A68;
    }
    .round-4{
        margin-top: 478px;
        border: 5px solid #1B5F8C;
    }
    .round-5{
        margin-top: 550px;
        border: 5px solid #030203;
    }
    .round-6{
        margin-top: 815px;
        border: 5px solid #1CE889;
    }
    .round-7{
        margin-top: 550px;
        border: 5px solid #660742;
    }
    .round-8{
        margin-top: 540px;
        border: 5px solid #ACB806;
    }
    .round-9{
        margin-top: 487px;
        border: 5px solid #86CC04;
    }
    .round-10{
        margin-top: 695px;
        border: 5px solid #4CADAD;
    }
    .round-11{
        margin-top: 595px;
        border: 5px solid #04B5CC;
    }
    .round-12{
        margin-top: 592px;
        border: 5px solid #0E04CC;
    }
    .round-13{
        margin-top: 625px;
        border: 5px solid #201F3D;
    }
    .round-14{
        margin-top: 502px;
        border: 5px solid #916527;
    }
    .round-15{
        margin-top: 855px;
        border: 5px solid #377D24;
    }
    /* .sqltopics-box{
        height: 9000px;
    } */
    .Hline{
        padding-bottom: 480px;
    }   
}
@media (max-width:320px) {
    .round-1{
        margin-top: 35px;
        border: 5px solid #41516C;
    }   
    .round-2{
        margin-top: 740px;
        border: 5px solid #FBCA3E;
    }
    .round-3{
        margin-top: 1240px;
        border: 5px solid #E24A68;
    }
    .round-4{
        margin-top: 578px;
        border: 5px solid #1B5F8C;
    }
    .round-5{
        margin-top: 730px;
        border: 5px solid #030203;
    }
    .round-6{
        margin-top: 885px;
        border: 5px solid #1CE889;
    }
    .round-7{
        margin-top: 630px;
        border: 5px solid #660742;
    }
    .round-8{
        margin-top: 625px;
        border: 5px solid #ACB806;
    }
    .round-9{
        margin-top: 587px;
        border: 5px solid #86CC04;
    }
    .round-10{
        margin-top: 815px;
        border: 5px solid #4CADAD;
    }
    .round-11{
        margin-top: 735px;
        border: 5px solid #04B5CC;
    }
    .round-12{
        margin-top: 750px;
        border: 5px solid #0E04CC;
    }
    .round-13{
        margin-top: 745px;
        border: 5px solid #201F3D;
    }
    .round-14{
        margin-top: 610px;
        border: 5px solid #916527;
    }
    .round-15{
        margin-top: 855px;
        border: 5px solid #377D24;
    }
    /* .sqltopics-box{
        height: 10700px;
    } */
    .Hline{
        padding-bottom: 640px;
    }   
}
